{{! HTML }}
<h2>Здравейте {{email}},</h2>
<p>Получавате този имейл тъй като вашето дружество - <strong>{{companyName}}</strong> бе регистрирано в платформата - AMC Manager.</p>
<p>Довършете регистрацията на вашият профил, като натиснете върху линка под този текст :</p>
<p><a href='{{registerLink}}'>Регистрирай се</a></p>
<p>С уважение,<br />Екипът на AMC Manager</p>